input {
    width: 100%;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    color: #DFE2E4;
    box-sizing: border-box;
    background: white url('./components/images/search_icon.svg') no-repeat 3% 6vh;
    padding: 5vh 8% 5vh 8%;
    font-size: 5vh;
}

input:focus {
    border: 2px solid #DFE2E4;
    outline: none;
    background: white;
}