@import "@styles/colors.scss";

.Market__main-div {
  width: 96%;
}

.Market__CardsEvents {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}