$mainBackgroundColor: #F5F5F5;
$secondBackgroundColor: white;
$thirdBackgroundColor: #F8F9FA;
$fourthBackgroundColor: #ECF4FF;

// BaseColors
$greenColor: #21BF73;
$redColor: #D90429;
$blueColor: #0063F5;

// font-colors
$secondFontColor: #6C757D;
$thirdFontColor: #0063F5;

// borders
$greyBorderColor: #DFE2E4;
