// 640px, минус отступы по 10 - 15 пикселей с боков
$screenIphone7: 360pх;
$screenIpadMini: 768px;

// минус 24 пикселя на скролл браузера
$screenSmallLaptop: 1024px;
$screenMediumLaptop: 1366x;
$screenLargeLaptop: 1536px;
$screenTelevision: 1920px;