@import "@styles/variables.scss";
@import "@styles/mixin.scss";
@import "@styles/colors.scss";

.multiDropdown__block {
    width: min-content;
    display: flex;
    flex-direction: column;
}

.multiDropdown__block__mainClickButton {
    @include oneOptionIntoMultidropdown($clickOptionFontSize, $clickOptionFontSize * 15);
    @include  oneOptionIntoMiltidropdownFontSettings($screenIpadMini, $screenIpadMiniClickOptionFontSize, $screenIpadMiniClickOptionFontSize * 11);
    border-radius: 30px;
}

.multiDropdown__block__mainClickButton__clicked {
    border-top: 0.5px solid $greyBorderColor;
    border-left: 0.5px solid $greyBorderColor;
    border-right: 0.5px solid $greyBorderColor;
    border-radius: 30px 30px 0 0;
}

.multiDropdown__block__mainClickButton__content {
    @include type-font-clickOption();
    grid-column: 1 / 9;
    position: relative;
    display: block;
    height: 100%;
}

.multiDropdown__block__mainClickButton__icon{
    position: relative;
    height: $clickOptionFontSize;
    width: 100%;
    background-size: $clickOptionFontSize;
    background: url('./components/images/list_triangle.svg') no-repeat right;
    grid-column: 9 / 12;
}

.multiDropdown__block__mainClickButton__icon_clicked_1 {
    transform: scaleY(-1);
}

.multiDropdown__block__optionsList {
    position: absolute;
    height: max-content;
}

.multiDropdown__block__optionsList__option {
    @include oneOptionIntoMultidropdown($clickOptionFontSize, $clickOptionFontSize * 15);
    @include  oneOptionIntoMiltidropdownFontSettings($screenIpadMini, $screenIpadMiniClickOptionFontSize, $screenIpadMiniClickOptionFontSize * 11);
    box-sizing: border-box;

    div {
        @include type-font-clickOption();
        grid-column: 1 / 9;
        position: relative;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
    }
}


.multiDropdown__block__optionsList__option:last-of-type {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
